#center_box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 600px;
    border: 2px solid black;
    margin: auto;
    margin-top: 100px;
    background-color: rgb(224, 166, 21);
    border-radius: 20px;
}
#center_box input, #center_box select, #center_box button {
    margin: 10px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#center_box button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}
#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
#innerbox {
    text-align: center;
    padding: 20px;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(245, 211, 107);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #fefefe;
    text-align: center;
    margin: 20px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #50a1f2;
}
#result {
    color: #000;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 10px;
    margin: 10px;
    font-weight: bold;
    background-color: rgb(245, 211, 107);
}
#convertedTemp {
   margin: 10px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid black;
    background-color: #4CAF50;
    border-radius: 4px;
}
h2 {
    color: black;
    font-size: 16px;
    text-align: center;
}